<div class="mx-5 pt-5">

  <h1 class="display-1 text-center txt-mid-pink pixel-font">
    <b>D-Var TODO</b>
  </h1>

  <form [formGroup]="todoForm" (ngSubmit)="newItemClick()">
    <app-form-section [titleStyles]="'pixel-font'" [title]="'TODO lists'"
                      [helpText]="'add some todos'">

      <app-form-field-set [labelTextStyles]="'pixel-font'" [label]="'Name'" [labelFor]="'name'">
        <div class="form-group pb-1">
          <input type="text" class="form-control pixel-font" formControlName="name"/>
        </div>
        <app-add-todo-item [(items)]="todoList.todoItems"></app-add-todo-item>
      </app-form-field-set>
      <div class="col mt-3">
        <button type="submit" class="btn btn-primary bg-light-pink pixel-font">add new todo</button>
      </div>
    </app-form-section>
  </form>

  <app-display-todo [todoLists]="todoLists"></app-display-todo>

</div>



